{% extends "main/layout.html" %}

{% load i18n %}
{% load static %}

{% block mainContent %}

{% block titlepage %} 
Rah Loader co     
{% endblock%}
<div class="row" style="padding-top:10px;">
  <div class="flex   center" style="background-color:#FFC500"> 
<h1>    
  {% blocktranslate %}  "Welcome to our page with new management" {% endblocktranslate %}  
</h1>    
  </div>
</div> 


      
  <div class="row">  
    <img src="{% static 'main/img/main.png' %}" style="width:100%" >
  </div> 

<br>
<div class="row center" style="padding-top:20px;" >
<h1>    
  {% blocktranslate %}  "Selling spare parts" {% endblocktranslate %}  
</h1>

</div> 
<br>
<!-- Page Content -->
<div class="container" style="padding-bottom:50px;" > 
  <hr class="mt-2 mb-5">

  <div class="row text-center text-lg-start">

    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'main/img/bilbekho.jpg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'main/img/bilmekaniki.jpg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'main/img/boldozer.jpg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'main/img/dumptruck.jpg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'main/img/ghaltak.jpg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'main/img/grader.jpg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'main/img/jarasaghil.jpg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'main/img/liftruck.jpg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'main/img/loader.jpg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'main/img/mnibil.jpg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'main/img/miniloader.jpg' %}" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="{% static 'main/img/bobcate-min.jpg' %}" alt="">
      </a>
    </div>
  </div>


  
  <div class="right">
    <button class="right" onclick="topFunction()" id="myBtn" title="Go to top">UP   </button>
</div>
<script>
    
</script>


</div>
{% endblock%}
               
           